# Ignore everything
*

# But not directories themselves
!*/

# Whitelisted folders
!hypr/
hypr/**
!hypr/**/
!hypr/**/*

!kitty/
kitty/**
!kitty/**/
!kitty/**/*

!nvim/
nvim/**
!nvim/**/
!nvim/**/*

!waybar/
waybar/**
!waybar/**/
!waybar/**/*

!waypaper/
waypaper/**
!waypaper/**/
!waypaper/**/*

!Wallpapers/
Wallpapers/**
!Wallpapers/**/
!Wallpapers/**/*

!rofi/
rofi/**
!rofi/**/
!rofi/**/*

!ly/
ly/**
!ly/**/
!ly/**/*

!dunst/
dunst/**
!dunst/**/
!dunst/**/*

# Whitelisted root files
!/README.md
!/LICENSE
!tlp.conf
!install.sh
!.gitignore
